//Copyright (C)2014-2019 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.1.01Beta
//Part Number: GW1N-LV4LQ144C6/I5
//Created Time: Mon Sep 23 19:42:27 2019

IO_LOC "clk" 6;
IO_LOC "dig[0]" 112;
IO_LOC "dig[1]" 113;
IO_LOC "dig[2]" 110;
IO_LOC "dig[3]" 111;
IO_LOC "key[0]" 54;
IO_LOC "key[1]" 52;
IO_LOC "key[2]" 51;
IO_LOC "key[3]" 49;
IO_LOC "key[4]" 47;
IO_LOC "key[5]" 45;
IO_LOC "key[6]" 43;
IO_LOC "key[7]" 41;
IO_LOC "led[0]" 63;
IO_LOC "led[1]" 62;
IO_LOC "led[2]" 61;
IO_LOC "led[3]" 60;
IO_LOC "led[4]" 59;
IO_LOC "led[5]" 58;
IO_LOC "led[6]" 57;
IO_LOC "led[7]" 56;
IO_LOC "smg[0]" 101;
IO_LOC "smg[1]" 104;
IO_LOC "smg[2]" 97;
IO_LOC "smg[3]" 98;
IO_LOC "smg[4]" 100;
IO_LOC "smg[5]" 102;
IO_LOC "smg[6]" 106;
IO_LOC "smg[7]" 99;
IO_PORT "clk"  IO_TYPE=LVCMOS33;
IO_PORT "key[0]"  IO_TYPE=LVCMOS33;
IO_PORT "key[1]"  IO_TYPE=LVCMOS33;
IO_PORT "key[2]"  IO_TYPE=LVCMOS33;
IO_PORT "key[3]"  IO_TYPE=LVCMOS33;
IO_PORT "key[4]"  IO_TYPE=LVCMOS33;
IO_PORT "key[5]"  IO_TYPE=LVCMOS33;
IO_PORT "key[6]"  IO_TYPE=LVCMOS33;
IO_PORT "key[7]"  IO_TYPE=LVCMOS33;
IO_PORT "led[0]"  IO_TYPE=LVCMOS33;
IO_PORT "led[1]"  IO_TYPE=LVCMOS33;
IO_PORT "led[2]"  IO_TYPE=LVCMOS33;
IO_PORT "led[3]"  IO_TYPE=LVCMOS33;
IO_PORT "led[4]"  IO_TYPE=LVCMOS33;
IO_PORT "led[5]"  IO_TYPE=LVCMOS33;
IO_PORT "led[6]"  IO_TYPE=LVCMOS33;
IO_PORT "led[7]"  IO_TYPE=LVCMOS33;
IO_PORT "smg[0]"  IO_TYPE=LVCMOS33;
IO_PORT "smg[1]"  IO_TYPE=LVCMOS33;
IO_PORT "smg[2]"  IO_TYPE=LVCMOS33;
IO_PORT "smg[3]"  IO_TYPE=LVCMOS33;
IO_PORT "smg[4]"  IO_TYPE=LVCMOS33;
IO_PORT "smg[5]"  IO_TYPE=LVCMOS33;
IO_PORT "smg[6]"  IO_TYPE=LVCMOS33;
IO_PORT "smg[7]"  IO_TYPE=LVCMOS33;
IO_PORT "dig[0]"  IO_TYPE=LVCMOS33;
IO_PORT "dig[1]"  IO_TYPE=LVCMOS33;
IO_PORT "dig[2]"  IO_TYPE=LVCMOS33;
IO_PORT "dig[3]"  IO_TYPE=LVCMOS33;
