//Copyright (C)2014-2019 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.2.02Beta
//Part Number: GW1N-LV4LQ144C6/I5
//Created Time: Tue 01 14 11:44:09 2020

IO_LOC "clk" 4;
IO_PORT "clk" IO_TYPE=LVCMOS33;
IO_LOC "key_8" 65;
IO_PORT "key_8" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "key_in[0]" 58;
IO_PORT "key_in[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "key_in[1]" 59;
IO_PORT "key_in[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "key_in[2]" 60;
IO_PORT "key_in[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "bm[0]" 75;
IO_PORT "bm[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "bm[1]" 76;
IO_PORT "bm[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "bm[2]" 78;
IO_PORT "bm[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "bm[3]" 79;
IO_PORT "bm[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "bm[4]" 80;
IO_PORT "bm[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "bm[5]" 81;
IO_PORT "bm[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "bm[6]" 82;
IO_PORT "bm[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "bm[7]" 83;
IO_PORT "bm[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "key8_led" 30;
IO_PORT "key8_led" IO_TYPE=LVCMOS33;
IO_LOC "key_in_led[0]" 23;
IO_PORT "key_in_led[0]" IO_TYPE=LVCMOS33;
IO_LOC "key_in_led[1]" 24;
IO_PORT "key_in_led[1]" IO_TYPE=LVCMOS33;
IO_LOC "key_in_led[2]" 25;
IO_PORT "key_in_led[2]" IO_TYPE=LVCMOS33;
IO_LOC "key_in_led[3]" 26;
IO_PORT "key_in_led[3]" IO_TYPE=LVCMOS33;
IO_LOC "key_in_led[4]" 27;
IO_PORT "key_in_led[4]" IO_TYPE=LVCMOS33;
IO_LOC "key_in_led[5]" 28;
IO_PORT "key_in_led[5]" IO_TYPE=LVCMOS33;
IO_LOC "key_in_led[6]" 29;
IO_PORT "key_in_led[6]" IO_TYPE=LVCMOS33;
IO_LOC "dig[0]" 137;
IO_PORT "dig[0]" IO_TYPE=LVCMOS33;
IO_LOC "dig[1]" 140;
IO_PORT "dig[1]" IO_TYPE=LVCMOS33;
IO_LOC "dig[2]" 141;
IO_PORT "dig[2]" IO_TYPE=LVCMOS33;
IO_LOC "dig[3]" 7;
IO_PORT "dig[3]" IO_TYPE=LVCMOS33;
IO_LOC "smg[0]" 8;
IO_PORT "smg[0]" IO_TYPE=LVCMOS33;
IO_LOC "smg[1]" 139;
IO_PORT "smg[1]" IO_TYPE=LVCMOS33;
IO_LOC "smg[2]" 12;
IO_PORT "smg[2]" IO_TYPE=LVCMOS33;
IO_LOC "smg[3]" 11;
IO_PORT "smg[3]" IO_TYPE=LVCMOS33;
IO_LOC "smg[4]" 9;
IO_PORT "smg[4]" IO_TYPE=LVCMOS33;
IO_LOC "smg[5]" 142;
IO_PORT "smg[5]" IO_TYPE=LVCMOS33;
IO_LOC "smg[6]" 138;
IO_PORT "smg[6]" IO_TYPE=LVCMOS33;
IO_LOC "smg[7]" 10;
IO_PORT "smg[7]" IO_TYPE=LVCMOS33;
